# 컴파일 결과물 (확장자)
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dll

# 특정 실행 파일 이름 (본인의 실행 파일 이름을 여기에 추가하세요)
a.out
rasp_main

# 깃랩/시스템 파일
.DS_Store
Thumbs.db

# 만약 확장자 없는 파일을 모두 막고 싶다면 아래 두 줄 주석을 해제하세요.
# *
# !*.*
 !Makefile